/Backend/audio_server/__pycache__
/Backend/venv
/Backend/.env
/Frontend/node_modules
/Frontend/.expo
/Frontend/.vscode
/Backend/audio_server/static/audio
/Backend/audio_server/static/audio/
env
test.ipynb